

.emoji-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 4em;
    display: inline-block;
    cursor: pointer;
}
.x-button {
    /* Overriding the normal button size */
    font-size: 0.45em;
    height: min-content;
}
@media only screen and (max-width: 600px) {
    .emoji-button {
        font-size: 2em;
    }
    .x-button {
        /* Overriding the normal button size */
        font-size: 0.4em;
    }
}