
.wishlist-container {
    cursor: pointer;
    height: min-content;
    width: 82.5%;
    
    margin-top: .5em;
    align-self: center;
}
.wishlist {
    width: 100%;
    padding: 0.2em 0.6em;
    border: var(--rich-black) solid 4px;
}