


.tile {
    --border-width: 0.25em;

    position: relative;
    width: 100%;
    height: fit-content;
    max-width: 350px;
    margin-bottom: 4em;

    background-color: var(--secondary);
    color: var(--rich-black);
    -webkit-box-shadow: 11px 11px 0px 1px var(--rich-black);
    -moz-box-shadow: 11px 11px 0px 1px var(--rich-black);
    box-shadow: 11px 11px 0px 1px var(--rich-black);
}


.image-background {
    position: relative;
    background-color: white;
    border: var(--rich-black) solid var(--border-width);

    
}
img {
    display: inherit;
    width: 100%;
}

.divider {
    background-color: white;
    height: 0.25em;
    border-left: var(--rich-black) solid var(--border-width);
    border-right: var(--rich-black) solid var(--border-width);
}


.body-container {
    display: inline-block;
    width: 100%;
    padding: 0 5% 2.5% 5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    border: var(--rich-black) solid var(--border-width);
}
h2 {
    font-size: calc(0.8rem + 3vmin);
    margin-bottom: 0.2em;
}
p {
    align-self: flex-start;
    font-size: calc(0.7rem + 1vmin);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    
}

.body-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Only the positioning relative to the tile, button has it's own stylesheet for inner styling */
.wishlist-button {
    position: absolute;
    right: -3em;
    top: 3em;
}
.order-button {
    align-self: flex-end;
}
@media only screen and (max-width: 600px) {
    .tile {
    
        -webkit-box-shadow: 5px 5px 0px 1px var(--rich-black);
        -moz-box-shadow: 5px 5px 0px 1px var(--rich-black);
        box-shadow: 5px 5px 0px 1px var(--rich-black);
    }
    h2 {
        font-size: calc(0.4rem + 3vmin);
        margin-bottom: 0.15em;
    }
    p {
        align-self: flex-start;
        font-size: calc(0.4rem + 2vmin);
        margin-bottom: 0.15em;
        margin-top: 0.3em;
    }
    .wishlist-button {
        position: absolute;
        right: -1.2em;
        top: 1em;
    }
    .body-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}