


html {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    width: 100%;
    --primary: #3498db;
    --rich-black: #080f0f;
    --drawer1-color: #f06449;
    --drawer2-color: #FFFD98;
    --drawer3-color: #C7EFCF;

}
#root {
    width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}